<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WindowAppHost.LoggerService">
        <endpoint address="net.tcp://localhost:8008/LoggerService" binding="netTcpBinding"
                  contract="WindowAppHost.DataContracts.ILoggerService">

        </endpoint>
        <endpoint address="http://localhost/LoggerService" binding="basicHttpBinding"
                  contract="WindowAppHost.DataContracts.ILoggerService">


        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>